<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-bletracker" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
	<name>BleTracker</name>
	<js-module name="BleTracker" src="www/BleTracker.js">
		<clobbers target="BleTracker" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="BleTracker">
				<param name="android-package" value="cordova.plugin.bletracker.BleTracker" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/BleTracker.java" target-dir="src/cordova/plugin/bletracker/BleTracker" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="BleTracker">
				<param name="ios-package" value="BleTracker" />
			</feature>
		</config-file>
		<source-file src="src/ios/BleTracker.m" />
	</platform>
</plugin>